
            <form action="/send" method="POST">
            <div class="mb-3">
             <label for="exampleFormControlTextarea1" class="form-label">Ingrese una petición</label>
             <textarea class="form-control"  rows="5" name="message" required></textarea>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Enviar">
            </form>

            

         
          